html, body {
  margin: 0;
  padding: 0;
  font: 16px/2 LatoLatinRegular, Helvetica, Arial, sans-serif;
  color: $primary-text-dark;
  background: $grey-200;
  word-wrap: break-word;
}

h1 {
  font-family: LatoLatinLight;
  font-weight: normal;
  font-size: 2rem;
  line-height: 2.5rem;
  margin: 1.5rem 0 1.5rem;
}

h2 {
  font-weight: normal;
  margin: 0;
  font-size: 1.5rem;
}

h3 {
  font-weight: bold;
  font-size: 1.2rem;
  margin: 1rem 0 0;
}

h4 {
  font-weight: bold;
  font-size: 1rem;
  margin: 0.8rem 0 0;
}

p {
  margin: 1rem 0;
}

.clearfix {
  clear: both;
}

code {
  font-family: Inconsolata, 'Roboto Mono', 'Source Code Pro', monospace;
  color: $secondary-text-dark;
}

h1 code,
h2 code,
h3 code,
code.channel-key {
  margin: 0 1ex;
}

a:link,
a:visited {
  text-decoration: none;
  color: $blue-700;
  fill: $icon-dark;
  transition: color 0.1s, fill 0.1s, background-color 0.1s;
}
a:hover,
a:focus {
  color: $blue-300;
  fill: $icon-dark-hover;
  outline: 0;
}

select,
textarea,
input[type=text],
input[type=email],
input[type=search],
input[type=url],
input[type=number] {
  padding: 0.4em;
  background: #fff;
  border: 1px solid #cfd6e6;
  border-radius: 3px;
  font-size: 0.95em;
  font-family: LatoLatinRegular;
  transition: border-color 0.2s;

  &:focus {
    border-color: $blue-300;
  }
}

textarea {
  resize: vertical;
}

input[type=number] {
  width: 8ex;
}
textarea,
input[type=text],
input[type=email],
input[type=search],
input[type=url] {
  width: 40ex;
}

@media (max-width: $tablet) {
  html, body {
    font-size: 14px;
  }
}


@mixin icon-button($hover-color, $active-color) {
  $icon-size: 1.4em;
  $padding: 0.3em;

  display: block;
  position: relative;
  padding: 0 0 0 calc(#{$icon-size} + #{2*$padding});
  width: 0;
  height: calc(#{$icon-size} + #{2*$padding});
  overflow: hidden;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  color: $secondary-text-dark;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;

  &::-moz-focus-inner {
    border: 0;
  }

  & > svg {
    display: block;
    position: absolute;
    width: $icon-size;
    height: $icon-size;
    top: $padding;
    left: $padding;
    fill: currentcolor;
  }

  &:focus {
    border-color: $hover-color;
    outline: none;
  }

  &:hover {
    background-color: $hover-color;
    color: $primary-text-light;
  }

  &:active {
    background-color: $active-color;
    border-color: transparent;
    color: $primary-text-light;
  }
}