#content {
  max-width: 1000px;
  margin: 0 auto;
  min-height: calc(100vh - 5em - 10px);
  overflow: hidden;
  padding: 5em 10px 10px;
}

.message {
  margin: 1em 0;
  padding: 5px 10px;
  border: 1px solid;
}
.message-error {
  border-color: #b00;
  background: #faa;
}
.message-warning {
  border-color: #bb0;
  background: #ffa;
}
.message-success {
  border-color: #0b0;
  background: #afa;
}
.message-info {
  border-color: #05b;
  background: #adf;
}