#content {
  max-width: 1000px;
  margin: 0 auto;
  min-height: calc(100vh - 5em - 10px);
  overflow: hidden;
  padding: 5em 10px 10px;
}

.card {
  color: var(--primary-text-dark);
  text-decoration: none;
  padding: 1em;
  margin-bottom: 1em;
  box-shadow: 0 2px 4px var(--divider-dark);
  box-sizing: border-box;
  background-color: #fff;
  transition: background-color .2s, fill .2s;
  display: block;
  position: relative;
  fill: var(--secondary-text-dark);

  &:hover,
  &:focus {
    background-color: var(--grey-100);
    fill: var(--primary-text-dark);
    outline: none;
  }

  &:active {
    background-color: var(--grey-200);
  }
}

.card-category {
  padding-left: 5em;

  &>svg {
    position: absolute;
    top: 1em;
    left: 1em;
    width: 3em;
    height: 3em;
  }
}

@media (min-width: $phone-landscape) {
  .card {
    display: inline-block;
    width: calc(50% - .5em);

    & > h2 {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &:nth-child(2n+1) {
      margin-right: .5em;
    }
    &:nth-child(2n+2) {
      margin-left: .5em;
    }
  }
}

@media (min-width: $tablet) {
  .card {
    &:nth-child(3n+1) {
      margin-left: 0;
      margin-right: .5em;
      width: calc(33% - .5em);
    }
    &:nth-child(3n+2) {
      margin-left: .5em;
      margin-right: .5em;
      width: calc(34% - 1em);
    }
    &:nth-child(3n+3) {
      margin-left: .5em;
      margin-right: 0;
      width: calc(33% - .5em);
    }
  }
}

.message {
  margin: 1em 0;
  padding: 5px 10px;
  border: 1px solid;
}
.message-error {
  border-color: #b00;
  background: #faa;
}
.message-warning {
  border-color: #bb0;
  background: #ffa;
}
.message-success {
  border-color: #0b0;
  background: #afa;
}
.message-info {
  border-color: #05b;
  background: #adf;
}