#content {
  max-width: 1000px;
  margin: 0 auto;
  min-height: calc(100vh - 5em - 10px);
  overflow: hidden;
  padding: 5em 10px 10px;
}

.grid.centered {
  text-align: center;
}

.card {
  text-align: left;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px $divider-dark;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  fill: $icon-dark;

  & .close {
    @include icon-button($red-700, $red-300);
    float: right;
  }

  &.dark {
    color: $primary-text-light;
    fill: $icon-light;
  }

  &.light-green {
    background: $light-green-500;
  }
  
  &.blue {
    background: $blue-500;
  }
    
  &.orange {
    background: $orange-500;
  }
}

.list {
  padding: 0;

  &.with-title {
    padding-bottom: 0.5rem;
  }

  li {
    list-style: none;
  }

  a {
    padding: 0.5rem 1rem;
    display: -ms-flexbox;
    display: flex;
  }

  a,
  a .hint {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  h2 {
    margin: 1rem 1rem 0;
  }

  .name {
    margin-right: auto;
  }

  svg {
    width: 32px;
    height: 32px;
    vertical-align: middle;

    &.left {
      margin-right: 1em;
    }
    &.right {
      margin-left: 1em;
    }
  }
}

@each $cat in $categories {
  .list.category-#{$cat} svg:not(.category-#{$cat}) {
    fill: $icon-inactive-dark;
  }
}

a.card, .link, .list a {
  transition: background-color .2s, fill .2s;
  text-decoration: none;
  color: $primary-text-dark;
  display: block;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $grey-100;
    fill: $primary-text-dark;
    outline: none;

    &.dark {
      fill: $primary-text-light;
    }

    &.light-green {
      background-color: $light-green-600;
    }

    &.blue {
      background-color: $blue-600;
    }

    &.orange {
      background-color: $orange-600;
    }
  }

  &:active {
    background-color: $grey-200;

    &.light-green {
      background-color: $light-green-700;
    }

    &.blue {
      background-color: $blue-700;
    }

    &.orange {
      background-color: $orange-700;
    }
  }
}

.card-category,
.banner > .card {
  padding-left: 5rem;
  min-height: 5rem;

  & > svg {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 3rem;
    height: 3rem;
  }

  & > h2 {
    line-height: 3rem;
  }
}

.banner > .card > h2 {
  font-size: 1.2rem;
}

.banner, .smallbanner {
  margin: 2rem 0;
}


.dialog-container[aria-hidden="true"] {
  visibility: hidden;
}

.dialog-overlay {
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.66);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.dialog {
  background-color: rgb(255, 255, 255);
  z-index: 1010;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.9);
  transform: translate(-50%, -50%) scale(0.9);
  min-width: 20rem;
  max-width: 80%;
  max-height: 80%;
  overflow: auto;
  transition: transform 0.1s, -webkit-transform 0.1s;
}

/* fixes padding not being visible when scrollbar is present */
.dialog.card {
  padding-bottom: 0;

  & > div {
    margin-bottom: 1rem;
  }
}

.dialog-container:not([aria-hidden="true"]) .dialog {
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}

.dialog h2:focus {
  outline: none;
}

@media (max-width: $phone) {
  .list > li > a > svg {
    width: 24px;
    height: 24px;

    &.left {
      margin-right: .6em;
    }
    &.right {
      margin-left: .6em;
    }
  }

  /* make dialogs cover the whole screen */
  .dialog {
    box-sizing: border-box;
    max-width: none;
    max-height: none;
    width: 100%;
    height: 100%;
  }
}

@media (min-width: $phone-landscape) {
  .grid .card {
    display: inline-block;
    width: calc(50% - 0.5rem);
    vertical-align: top;

    & > h2 {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &:nth-child(2n+1) {
      margin-right: 0.5rem;
    }
    &:nth-child(2n) {
      margin-left: 0.5rem;
    }
  }
}

@media (min-width: $tablet) {
  .grid .card {
    width: calc(33.33% - 2rem / 3);

    &:nth-child(3n+1) {
      margin-left: 0;
      margin-right: 0;
    }
    &:nth-child(3n+2),
    &:nth-child(3n) {
      margin-left: 1rem;
      margin-right: 0;
    }
  }
}

.message {
  margin: 1em 0;
  padding: 5px 10px;
  border: 1px solid;
}
.message-error {
  border-color: #b00;
  background: #faa;
}
.message-warning {
  border-color: #bb0;
  background: #ffa;
}
.message-success {
  border-color: #0b0;
  background: #afa;
}
.message-info {
  border-color: #05b;
  background: #adf;
}
