.fixture-meta {
  margin: -1.5rem 0 1rem;
  font-size: 0.8rem;
  color: $secondary-text-dark;

  & > span:not(:last-child)::after {
    content: ' | ';
    padding: 0 0.7ex;
  }
}

.download-button {
  display: block;
  position: relative;
  margin: 0 1ex 1em auto;
  width: 14em;

  & > .title {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0.5ex 2ex;
    border-radius: 2px;
    background: $light-green-500;
    font-family: LatoLatinSemibold;
    color: $primary-text-light;
    cursor: pointer;
    box-shadow: 0 2px 2px rgba(#000, 0.2);
    transition: border-radius 0.2s, background-color 0.2s;

    /* down arrow */
    &::before {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-width: 0.4em 0.4em 0;
      border-style: solid;
      border-color: currentcolor transparent transparent;
      float: right;
      margin: 0.8em 0 0 1ex;
    }
  }

  & > ul {
    position: absolute;
    left: -9999px;
    top: calc(2em + 1ex);
    padding: 0.7em 0;
    margin: 0;
    width: 100%;
    list-style: none;
    background-color: $grey-50;
    border-radius: 0 0 2px 2px;
    box-shadow: 0 2px 2px rgba(#000, 0.2);
    z-index: 90;

    & a {
      display: block;
      padding: 0.2ex 2ex;
      color: $primary-text-dark;
      transition: background-color 0.2s;
    }

    & a:hover,
    & a:focus {
      background-color: $grey-200;
      outline: 0;
    }
  }

  &:hover > .title,
  & > .title:focus,
  & > .title:active {
    border-radius: 2px 2px 0 0;
    background: $light-green-700;
  }

  &:hover > ul,
  & > .title:focus + ul,
  & > .title:active + ul {
    left: 0;
  }

  /* single rule since unsupporting browsers skip the whole rule */
  &:focus-within > .title {
    border-radius: 2px 2px 0 0;
    background: $light-green-700;
  }
  &:focus-within > ul {
    left: 0;
  }
}

.category-badge {
  display: inline-block;
  padding: 4px 1.5ex 4px 1ex;
  margin: 0 0 4px;
  border-radius: 5000px; /* see http://stackoverflow.com/a/18795153/451391 */
  background: $grey-100;

  &:link,
  &:visited {
    color: $primary-text-dark;
    fill: $icon-dark;
  }
  &:hover,
  &:focus {
    background-color: $grey-300;
  }

  &.selected {
    background-color: $blue-700;

    &:link,
    &:visited {
      color: $primary-text-light;
      fill: $icon-light;
    }
    &:hover,
    &:focus {
      background-color: $blue-300;
    }
  }

  & > svg {
    height: 1.7em;
    width: 1.7em;
    vertical-align: middle;
  }
}

.fixture-info > .manualURL {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  & > .value {
    display: inline;
  }

  section.physical {
    -moz-columns: 2 300px;
    -moz-column-gap: 3rem;
    columns: 2 350px;
    column-gap: 3rem;

    & > section {
      page-break-inside: avoid;
      break-inside: avoid;
    }
  }
}

section {
  padding-top: 1.2ex;
}

.label {
  display: block;
  color: $secondary-text-dark;
  vertical-align: top;
}

.value {
  display: inline-block;
  vertical-align: top;
}

.hint {
  display: block;
  color: $secondary-text-dark;
  font-size: 0.8rem;
  line-height: 1.5;
}

data:empty {
  border: 1px solid #cfd6e6;
  padding: 0 2px;
  cursor: default;

  &::before {
    content: '?';
    display: inline;
    color: #cfd6e6;
  }
}

data.checkbox {
  display: inline-block;
  border: 1px solid #cfd6e6;
  border-radius: 3px;
  height: 14px;
  line-height: 14px;
  padding: 0 0 0 14px;
  width: 0px;
  overflow: hidden;
  vertical-align: middle;
  color: #cfd6e6;
  cursor: default;

  &[data-value='false'] {
    border-color: #b00;
  }
  &[data-value='true'] {
    border-color: #0b5;
  }

  &::before {
    display: block;
    text-align: center;
    width: 14px;
    margin-left: -14px;
  }
  &:empty::before {
    content: '?';
  }
  &[data-value='false']::before {
    color: #b00;
    content: '\d7';
    font-weight: bold;
  }
  &[data-value='true']::before {
    color: #0b5;
    content: '\2714';
  }
}

html:not(.js) #fixture-editor {
  display: none;
}

.button-bar {
  margin: 2ex 0 0;
}

select[data-allow-additions] + input:disabled {
  display: none;
}

a.fixture-mode {
  text-align: center;
}

/* if a mode is the only mode, hide its remove button */
.fixture-modes > .fixture-mode:first-child:nth-last-child(3) > .close {
  display: none;
}

#fixture-editor {
  counter-reset: modes;
}

#fixture-editor .fixture-mode h2::after {
  counter-increment: modes;
  content: " #" counter(modes);
}

/* display mode cards in a 2-col layout */
@media (min-width: $tablet) {
  .fixture-modes > .card.fixture-mode {
    width: calc(50% - .5rem);

    & > h2 {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &:nth-child(odd) {
      margin-right: .5rem;
      float: left;
      clear: left;
    }
    &:nth-child(even) {
      margin-left: .5rem;
      float: right;
      clear: right;
    }
  }

  .card.fixture-mode .value {
    max-width: none;
  }

  .channel-groups > section {
    width: calc(50% - 1.5em);
    float: left;

    &:nth-of-type(odd) {
      margin-right: 1.5rem;
    }
    &:nth-of-type(even) {
      margin-left: 1.5rem;
    }
  }
}

/* move download button to the right, labels left of values */
@media (min-width: 650px) {
  .fixture-header {
    display: flex;
    flex-direction: row;

    & > .title {
      flex-grow: 1;
      flex-shrink: 1;
    }

    & > .download-button {
      flex-grow: 0;
      flex-shrink: 0;
      margin: 1.5rem 0 0;
    }
  }

  .label {
    display: inline-block;
    min-width: 10rem;
  }
  .value {
    max-width: calc(100% - 12rem - 1ex);
  }
}
