#header {
  position: fixed;
  width: 100%;
  background: #fafafa;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  text-align: center;
  z-index: 100;

  & > nav {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
  }

  a {
    display: inline-block;
    height: 4.5em;
    line-height: 4.5em;
    background-color: rgba(#e8e8e8, 0);
    transition: all 0.2s;

    &:hover,
    &:focus {
      background-color: rgba(#e8e8e8, 1);
      color: #000;
      outline: 0;
    }
  }

  form {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0.4em;
    background: #fff;
    border: 1px solid #cfd6e6;
    border-radius: 3px;
    font-size: 1.05em;
    line-height: 1.2;
    width: 100%;
    transition: all 0.2s;

    &:focus {
      border-color: $blue-300;
    }
  }

  button {
    $icon-size: 1.4em;
    $padding: 0.3em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-left: 4px;
    position: relative;
    padding: 0 0 0 calc(#{$icon-size} + #{2*$padding});
    width: 0;
    height: calc(#{$icon-size} + #{2*$padding});
    box-sizing: content-box;
    overflow: hidden;
    background-color: #fbfbfb;
    border: 1px solid transparent;
    border-radius: 3px;
    font-size: 1.05em;
    line-height: 1.2;
    cursor: pointer;
    color: $secondary-text-dark;
    transition: all 0.2s;

    &::-moz-focus-inner {
      border: 0;
    }

    & > svg {
      display: block;
      position: absolute;
      width: $icon-size;
      height: $icon-size;
      top: $padding;
      left: $padding;
      fill: currentcolor;
    }

    &:focus {
      border-color: $blue-300;
    }

    &:hover {
      background-color: $blue-300;
      color: $primary-text-light;
    }

    &:active {
      background-color: $blue-700;
      border-color: transparent;
      color: $primary-text-light;
    }
  }
}

#left-nav {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin home-logo-sizing($width, $padding) {
  padding-left: calc(#{$width} + #{2*$padding});
  background-position: $padding center;
  background-size: calc(100% - #{2*$padding}) auto;
}
#header #home-logo {
  display: inline-block;
  width: 0;
  overflow: hidden;
  background-image: url('ofl-logo.svg');
  background-repeat: no-repeat;
  @include home-logo-sizing(122px, 2ex);
}

#right-nav > a {
  padding: 0 1ex;
  text-decoration: none;
  color: inherit;
}


/* Tablet */
@media (max-width: $tablet) {
  #header > nav > div {
    flex-basis: 100%;
  }

  #header #home-logo {
    @include home-logo-sizing(92px, .5ex);

    line-height: 3em;
    height: 3em;
  }

  #header form {
    flex-grow: 0;
    padding: 0 .5ex;
  }

  #right-nav {
    justify-content: center;

    & > a {
      line-height: 2.7em;
      height: 2.7em;
    }
  }
}

/* Phone */
@media (max-width: $phone) {
  #header #home-logo {
    @include home-logo-sizing(82px, .5ex);

    line-height: 2.8em;
    height: 2.8em;

    &.searchUsed {
      padding: 0;
    }
  }

  #header form {
    flex-grow: 1;
    flex-basis: 0;

    & div {
      flex-grow: 1;
      flex-basis: 0;
    }
  }
}