$tablet: 800px;
$phone: 440px;

:root {
  /*
   From Google's material color palette
   https://material.io/guidelines/style/color.html
  */
  --blue-100: #bbdefb;
  --blue-300: #64b5f6;
  --blue-700: #1976d2;

  --grey-200: #eeeeee;

  --primary-text-dark:    rgba(#000, .87);
  --secondary-text-dark:  rgba(#000, .54);
  --disabled-text-dark:   rgba(#000, .38);

  --primary-text-light:   rgba(#fff, 1);
  --secondary-text-light: rgba(#fff, .7);
  --disabled-text-light:  rgba(#fff, .5);
}

@import 'base.scss';
@import 'header.scss';
@import 'content.scss';
@import 'fixture.scss';

@import '/fonts/LatoLatin/latolatinfonts.css';