$tablet: 800px;
$phone: 440px;

:root {
  /*
   From Google's material color palette
   https://material.io/guidelines/style/color.html
  */
  --blue-100: #bbdefb;
  --blue-300: #64b5f6;
  --blue-700: #1976d2;

  --grey-200: #eeeeee;

  --primary-text-dark:    rgba(#000, .87);
  --secondary-text-dark:  rgba(#000, .54);
  --disabled-text-dark:   rgba(#000, .38);

  --primary-text-light:   rgba(#fff, 1);
  --secondary-text-light: rgba(#fff, .7);
  --disabled-text-light:  rgba(#fff, .5);
}

$base-url: '/fonts/LatoLatin/fonts/LatoLatin-';
@mixin lato-font($flavor, $suffix, $style) {
  font-family: 'LatoLatin' + $flavor;
  src: url($base-url + $flavor + $suffix + '.eot'); /* IE9 Compat Modes */
  src: url($base-url + $flavor + $suffix + '.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url($base-url + $flavor + $suffix + '.woff2') format('woff2'), /* Modern Browsers */
       url($base-url + $flavor + $suffix + '.woff') format('woff'), /* Modern Browsers */
       url($base-url + $flavor + $suffix + '.ttf') format('truetype');
  font-style: $style;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
$lato-flavor-list: 'Light', 'Regular', 'Semibold', 'Heavy';
@each $flavor in $lato-flavor-list {
  @font-face {
    @include lato-font($flavor, '',       normal);
  }
  @font-face {
    @include lato-font($flavor, 'Italic', italic);
  }
}

@import 'base.scss';
@import 'header.scss';
@import 'content.scss';
@import 'fixture.scss';