/*
 From Google's material color palette
 https://material.io/guidelines/style/color.html
*/
$red-300: #e57373;
$red-700: #d32f2f;

$blue-100: #bbdefb;
$blue-300: #64b5f6;
$blue-500: #2196f3;
$blue-600: #1e88e5;
$blue-700: #1976d2;

$grey-50: #fafafa;
$grey-100: #f5f5f5;
$grey-200: #eeeeee;
$grey-300: #e0e0e0;

$light-green-500: #8bc34a;
$light-green-600: #7cb342;
$light-green-700: #689f38;

$primary-text-dark:     rgba(#000, 0.87);
$secondary-text-dark:   rgba(#000, 0.54);
$disabled-text-dark:    rgba(#000, 0.38);
$divider-dark:          rgba(#000, 0.12);
$icon-dark:             rgba(#000, 0.54);
$icon-dark-hover:       rgba(#000, 0.38);
$icon-inactive-dark:    rgba(#000, 0.27);

$primary-text-light:    rgba(#fff, 1.00);
$secondary-text-light:  rgba(#fff, 0.70);
$disabled-text-light:   rgba(#fff, 0.50);
$divider-light:         rgba(#fff, 0.12);
$icon-light:            rgba(#fff, 1.00);
$icon-inactive-light:   rgba(#fff, 0.50);


/* Width value for media queries */
$tablet: 800px;
$phone-landscape: 600px;
$phone: 440px;


$categories: other color-changer dimmer effect fan flower hazer laser moving-head scanner smoke strobe blinder;


/* Font faces for all Lato font flavors and their italic variant */
@mixin lato-font($flavor) {
  $url: '/fonts/LatoLatin/LatoLatin-' + $flavor;
  @font-face {
    font-family: 'LatoLatin' + $flavor;
    src: local("Lato #{$flavor}"),
         local("Lato-#{$flavor}"),
         url($url + '.woff2') format('woff2'),
         url($url + '.woff')  format('woff');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
  }
  @font-face {
    font-family: 'LatoLatin' + $flavor;
    src: local("Lato #{$flavor} Italic"),
         local("Lato-#{$flavor}Italic"),
         url($url + 'Italic.woff2') format('woff2'),
         url($url + 'Italic.woff')  format('woff');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
  }
}
$lato-flavor-list: 'Light', 'Regular', 'Semibold', 'Heavy';
@each $flavor in $lato-flavor-list {
  @include lato-font($flavor);
}

/* Font faces for both Inconsolata weights */
@font-face {
  font-family: Inconsolata;
  src: local('Inconsolata Regular'),
       local('Inconsolata-Regular'),
       url('/fonts/Inconsolata/Inconsolata-Regular.ttf')  format('truetype');
  font-weight: 400;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: Inconsolata;
  src: local('Inconsolata Bold'),
       local('Inconsolata-Bold'),
       url('/fonts/Inconsolata/Inconsolata-Bold.ttf')  format('truetype');
  font-weight: 700;
  text-rendering: optimizeLegibility;
}


@import 'base.scss';
@import 'header.scss';
@import 'content.scss';
@import 'fixture.scss';