<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title><%= title %></title>
<link rel="stylesheet" type="text/css" href="/style.css" />
</head>
<body>
<header>
<a href="/" class="home-logo">Open Fixture Library</a>

<form action="/search">
  <input type="search" name="q" placeholder="Search fixture" />
  <button type="submit">Search</button>
</form>

<ul>
  <li><a href="/manufacturers">Manufacturers</a></li>
  <li><a href="/categories">Categories</a></li>
  <li><a href="/about">About</a></li>
</ul>
</header>