# Node build artifacts
node_modules/
npm-debug.log

# Local development
*.env
*.dev
.DS_Store
*.sublime-*

# Docker
Dockerfile
docker-compose.yml

# Generated stylesheet
static/style.css

# Temporary files
tmp/