html, body {
  margin: 0;
  padding: 0;
  background: #fff;
  font: 16px/2 'Droid Sans','Source Sans Pro',Ubuntu,Helvetica,Arial,sans-serif;
  color: #222;
  word-wrap: break-word;

  /*
   Google material color palette
   https://material.io/guidelines/style/color.html
  */
  --blue-100: #bbdefb;
  --blue-300: #64b5f6;
  --blue-700: #1976d2;
}


/* header */

header {
  position: fixed;
  width: 100%;
  background: #fafafa;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  text-align: center;
}

header > nav {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
}

header a {
  display: inline-block;
  height: 4.5em;
  line-height: 4.5em;
}
header a:hover,
header a:focus {
  background-color: #e8e8e8;
  color: #000;
}

#left-nav {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#home-logo {
  --logo-width: 122px;
  --logo-padding: .5ex;
  display: inline-block;
  width: 0;
  padding-left: calc(var(--logo-width) + 2 * var(--logo-padding));
  overflow: hidden;
  background-image: url(ofl-logo.svg);
  background-position: var(--logo-padding) center;
  background-size: calc(100% - 2 * var(--logo-padding)) auto;
  background-repeat: no-repeat;
  transition: padding .2s;
}

header form {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

header input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 5px;
  background: #fff;
  border: 1px solid #cfd6e6;
  border-radius: 3px;
  font-size: 1.05em;
  line-height: 1.2;
  width: 100%;
}

header input:focus {
  border-color: var(--blue-300);
}

header button {
  --icon-size: calc(1.2em + 2px);
  --padding: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-left: 4px;
  position: relative;
  padding: 0 0 0 calc(var(--icon-size) + 2 * var(--padding));
  width: 0;
  height: calc(var(--icon-size) + 2 * var(--padding));
  box-sizing: content-box;
  overflow: hidden;
  background-color: #fbfbfb;
  border: 1px solid transparent;
  border-radius: 3px;
  font-size: 1.05em;
  line-height: 1.2;
  cursor: pointer;
}
header button::-moz-focus-inner {
  border: 0;
}

header button:focus {
  border-color: var(--blue-300);
}

header button:hover {
  background-color: var(--blue-300);
  color: #fff;
}

header button:active {
  background-color: var(--blue-700);
  border-color: transparent;
  color: #fff;
}

header svg {
  display: block;
  position: absolute;
  width: var(--icon-size);
  height: var(--icon-size);
  top: var(--padding);
  left: var(--padding);
  fill: currentcolor;
}

#right-nav > a {
  padding: 0 1ex;
  text-decoration: none;
  color: inherit;
}


/* main */

#main {
  max-width: 1000px;
  margin: 0 auto;
  min-height: calc(100vh - 5em - 10px);
  overflow: hidden;
  padding: 5em 10px 10px;
}

.message {
  margin: 1em 0;
  padding: 5px 10px;
  border: 1px solid;
}
.message-error {
  border-color: #b00;
  background: #faa;
}
.message-warning {
  border-color: #bb0;
  background: #ffa;
}
.message-success {
  border-color: #0b0;
  background: #afa;
}
.message-info {
  border-color: #05b;
  background: #adf;
}


/* fixture page */

data:empty {
  border: 1px solid #cfd6e6;
  padding: 0 2px;
  cursor: default;
}
data:empty::before {
  content: '?';
  display: inline;
  color: #cfd6e6;
}

data.checkbox {
  display: inline-block;
  border: 1px solid #cfd6e6;
  border-radius: 3px;
  height: 14px;
  line-height: 14px;
  padding: 0 0 0 14px;
  width: 0px;
  overflow: hidden;
  vertical-align: middle;
  color: #cfd6e6;
  cursor: default;
}
data.checkbox::before {
  display: block;
  text-align: center;
  width: 14px;
  margin-left: -14px;
}
data.checkbox:empty::before {
  content: '?';
}
data.checkbox[data-value='false'] {
  border-color: #b00;
}
data.checkbox[data-value='false']::before {
  color: #b00;
  content: '\d7';
  font-weight: bold;
}
data.checkbox[data-value='true'] {
  border-color: #0b5;
}
data.checkbox[data-value='true']::before {
  color: #0b5;
  content: '\2714';
}


a[href=''] {
  color: inherit;
  text-decoration: none;
  cursor: default;
  pointer-events: none;
}



/** MOBILE LAYOUT **/

/* Tablet */
@media (max-width: 800px) {
  header {
    font-size: 14px;
  }

  header > nav > div {
    flex-basis: 100%;
  }

  #home-logo {
    --logo-width: 92px;
    line-height: 3em;
    height: 3em;
  }

  header form {
    flex-grow: 0;
    padding: 0 .5ex;
  }

  #right-nav {
    justify-content: center;
  }

  #right-nav > a {
    line-height: 2.7em;
    height: 2.7em;
  }
}

/* Phone */
@media (max-width: 440px) {
  #home-logo {
    --logo-width: 82px;
    line-height: 2.8em;
    height: 2.8em;
  }

  #home-logo.searchUsed {
    padding: 0;
  }

  header form {
    flex-grow: 1;
    flex-basis: 0;
  }

  header form div {
    flex-grow: 1;
    flex-basis: 0;
  }
}