html, body {
  margin: 0;
  padding: 0;
  background: #fff;
  font: 16px/2 'Droid Sans','Source Sans Pro',Ubuntu,Helvetica,Arial,sans-serif;
  color: #222;
}


/* header */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fafafa;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  text-align: center;
}

header nav {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
}

header a {
  display: inline-block;
  height: 4.5em;
  line-height: 4.5em;
  text-decoration: none;
  color: inherit;
}
header a:hover,
header a:focus {
  background-color: #e8e8e8;
  color: #000;
}

header #left-nav {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1ex;
}

header #home-logo {
  text-indent: -9999px;
  display: inline-block;
  width: 122px;
  background: url(ofl-logo.svg) center center no-repeat;
  background-origin: content-box;
  transition: width .2s, padding .2s;
}

header form {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

header input {
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 5px;
  background: #fff;
  border: 1px solid #cfd6e6;
  border-radius: 3px;
  font-size: 0.95rem;
  line-height: 1.2;
  width: 100%;
}

header input:focus {
  border-color: #5294e2;
}

header button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-left: 4px;
  padding: 5px 1ex;
  background: #fbfbfb;
  border: 1px solid #cfd6e6;
  border-radius: 3px;
  font-size: 0.95rem;
  line-height: 1.2;
}
header button::-moz-focus-inner {
  border: 0;
}

header button:hover,
header button:focus {
  background: #fff;
  border-color: #abb1be;
}

header button:active {
  background: #5294e2;
  color: #fff;
}

header #right-nav a {
  padding: 0 1ex;
}


/* main */

#main {
  max-width: 1000px;
  margin: 0 auto;
  min-height: calc(100vh - 70px - 10px);
  overflow: hidden;
  padding: 70px 10px 10px;
}

.message {
  margin: 1em 0;
  padding: 5px 10px;
  border: 1px solid;
}
.message-error {
  border-color: #b00;
  background: #faa;
}
.message-warning {
  border-color: #bb0;
  background: #ffa;
}
.message-success {
  border-color: #0b0;
  background: #afa;
}
.message-info {
  border-color: #05b;
  background: #adf;
}


/* fixture page */

data:empty {
  border: 1px solid #cfd6e6;
  padding: 0 2px;
  cursor: default;
}
data:empty::before {
  content: '?';
  display: inline;
  color: #cfd6e6;
}

data.checkbox {
  display: inline-block;
  border: 1px solid #cfd6e6;
  border-radius: 3px;
  height: 14px;
  line-height: 14px;
  padding: 0 0 0 14px;
  width: 0px;
  overflow: hidden;
  vertical-align: middle;
  color: #cfd6e6;
  cursor: default;
}
data.checkbox::before {
  display: block;
  text-align: center;
  width: 14px;
  margin-left: -14px;
}
data.checkbox:empty::before {
  content: '?';
}
data.checkbox[data-value='false'] {
  border-color: #b00;
}
data.checkbox[data-value='false']::before {
  color: #b00;
  content: '\d7';
  font-weight: bold;
}
data.checkbox[data-value='true'] {
  border-color: #0b5;
}
data.checkbox[data-value='true']::before {
  color: #0b5;
  content: '\2714';
}


a[href=''] {
  color: inherit;
  text-decoration: none;
  cursor: default;
  pointer-events: none;
}



/** MOBILE LAYOUT **/

/* Tablet */
@media (max-width: 800px) {
  header {
    font-size: 14px;
  }

  header nav > div {
    flex-basis: 100%;
  }

  header #home-logo {
    width: 92px;
    padding-right: 1ex;
    line-height: 3em;
    height: 3em;
  }

  header form {
    flex-grow: 0;
  }

  header #right-nav {
    justify-content: center;
  }

  header #right-nav a {
    line-height: 2.7em;
    height: 2.7em;
  }
}

/* Phone */
@media (max-width: 440px) {
  header form {
    flex-grow: 1;
    flex-basis: 0;
  }

  header form div {
    width: 100%;
  }

  header #home-logo {
    width: 82px;
    padding-right: 1ex;
    line-height: 2.8em;
    height: 2.8em;
  }

  header #home-logo.searchUsed {
    width: 0;
    padding: 0;
  }
}