// variable font with a weight axis from 200 to 800
// v2.001 from https://github.com/googlefonts/atkinson-hyperlegible-next
@font-face {
  font-family: "Atkinson Hyperlegible Next";
  font-style: normal;
  font-weight: 200 800;
  src: url("/fonts/AtkinsonHyperlegibleNext/AtkinsonHyperlegibleNext-Variable.woff2") format("woff2");
  font-display: fallback;
}

@font-face {
  font-family: "Atkinson Hyperlegible Next";
  font-style: italic;
  font-weight: 200 800;
  src: url("/fonts/AtkinsonHyperlegibleNext/AtkinsonHyperlegibleNext-Italic-Variable.woff2") format("woff2");
  font-display: fallback;
}
