/* commented flavors are not included in the repository */
$lato-flavor-list: (
  // 'Hairline': 100,
  // 'Thin': 200,
  'Light': 300,
  'Regular': 400,
  // 'Medium': 500,
  'Semibold': 600,
  // 'Bold': 700,
  'Heavy': 800,
  // 'Black': 900
);

@each $flavor, $weight in $lato-flavor-list {
  $url: '/fonts/LatoLatin/LatoLatin-' + $flavor;
  @font-face {
    font-family: 'LatoLatin';
    src: local("Lato #{$flavor}"),
         local("Lato-#{$flavor}"),
         url($url + '.woff2') format('woff2'),
         url($url + '.woff')  format('woff');
    font-style: normal;
    font-weight: $weight;
    font-display: fallback;
  }
  @font-face {
    font-family: 'LatoLatin';
    src: local("Lato #{$flavor} Italic"),
         local("Lato-#{$flavor}Italic"),
         url($url + 'Italic.woff2') format('woff2'),
         url($url + 'Italic.woff')  format('woff');
    font-style: italic;
    font-weight: $weight;
    font-display: fallback;
  }
}

/* Font faces for both Inconsolata weights */
@font-face {
  font-family: Inconsolata;
  src: local('Inconsolata Regular'),
       local('Inconsolata-Regular'),
       url('/fonts/Inconsolata/Inconsolata-Regular.ttf')  format('truetype');
  font-weight: 400;
  text-rendering: optimizeLegibility;
    font-display: fallback;
}
@font-face {
  font-family: Inconsolata;
  src: local('Inconsolata Bold'),
       local('Inconsolata-Bold'),
       url('/fonts/Inconsolata/Inconsolata-Bold.ttf')  format('truetype');
  font-weight: 700;
  text-rendering: optimizeLegibility;
    font-display: fallback;
}
