@import './vars.scss';
@import './mixins.scss';
@import './fonts.scss';

html, body {
  margin: 0;
  padding: 0;
  font: 12pt/2 LatoLatin, 'Source Sans Pro', Helvetica, Arial, sans-serif;
  color: $primary-text-dark;
  background: $grey-200;
  word-wrap: break-word;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

html {
  overflow-y: scroll;
}

h1 {
  font-weight: 300;
  font-size: 2rem;
  line-height: 2.5rem;
  margin: 1.5rem 0 1.5rem;
}

h2 {
  font-weight: 400;
  margin: 0;
  font-size: 1.5rem;
}

h3 {
  font-weight: 800;
  font-size: 1.2rem;
  margin: 1rem 0 0;
}

h4 {
  font-weight: 800;
  font-size: 1rem;
  margin: 0.8rem 0 0;
}

p {
  margin: 1rem 0;
}

section {
  padding-top: 1.2ex;
}

.centered {
  text-align: center;
}

.clearfix {
  clear: both;
}

.label {
  display: block;
  color: $secondary-text-dark;
}

.value {
  display: block;
}

/* move labels left of values */
@media (min-width: 650px) {
  .label {
    display: inline-block;
    min-width: 10rem;
  }
  .value {
    display: inline-block;
    max-width: calc(100% - 12rem - 1ex);
    vertical-align: top;
  }
}

label {
  max-width: 100%;
}

.hint {
  display: block;
  color: $secondary-text-dark;
  font-size: 0.8rem;
  line-height: 1.5;
}

template {
  display: none !important;
}

#content.no-js .only-js {
  display: none;
}

code {
  font-family: Inconsolata, 'Roboto Mono', 'Source Code Pro', monospace;
  color: $secondary-text-dark;
}

h1 code,
h2 code,
h3 code,
code.channel-key {
  margin: 0 1ex;
}

a {
  text-decoration: none;
  color: $blue-700;
  fill: $icon-dark;
  transition: color 0.1s, fill 0.1s, background-color 0.1s;

  &:hover,
  &:focus {
    color: $blue-300;
    fill: $icon-dark-hover;
  }
}

select,
textarea,
input[type=text],
input[type=email],
input[type=search],
input[type=url],
input[type=number] {
  box-sizing: border-box;
  max-width: 100%;
  padding: 0.4em;
  background: #fff;
  border: 1px solid #cfd6e6;
  border-radius: 3px;
  font-size: 0.95em;
  font-family: LatoLatin;
  transition: border-color 0.2s;

  &:focus {
    border-color: $blue-300;
  }

  &.vf-touched.vf-invalid,
  &.vf-submitted.vf-invalid,
  &.vf-touched[class^=vf-invalid-],
  .vf-touched.vf-invalid &,
  .vf-submitted.vf-invalid &,
  .vf-touched[class^=vf-invalid-] & {
    border-color: red;
    box-shadow: 0 0 4px rgba(255, 0, 0, 0.4);
  }

  &:disabled {
    background: $grey-100;
    opacity: 0.9;
  }
}

.error-message {
  display: block;
  color: red;

  & div::before {
    content: '!';
    display: inline-block;
    height: 1em;
    line-height: 1em;
    width: 1em;
    margin: -2px 1ex 0 0;
    text-align: center;
    background: red;
    border-radius: 9999px;
    color: white;
    font-weight: 600;
    vertical-align: middle;
  }
}

textarea {
  min-height: 4em;
  resize: vertical;
}

select {
  width: 30ex;
}
select.boolean {
  width: 15ex;
}
input[type=number] {
  width: 10ex;
}
textarea,
input[type=text],
input[type=email],
input[type=search],
input[type=url] {
  width: 40ex;
}

input.addition {
  margin-left: 1ex;
}

select.empty {
  color: $secondary-text-dark;
  font-style: italic;

  & > option {
    color: $primary-text-dark;
    font-style: normal;
  }
}

input::-webkit-input-placeholder {
  color: $secondary-text-dark;
  font-style: italic;
}
input::-moz-placeholder {
  color: $secondary-text-dark;
  font-style: italic;
  opacity: 1;
}
input:-ms-input-placeholder {
  color: $secondary-text-dark;
  font-style: italic;
}
input::placeholder {
  color: $secondary-text-dark;
  font-style: italic;
  opacity: 1;
}

.button-bar {
  margin: 2ex 0 0;

  &.right {
    text-align: right;

    & button,
    & input {
      margin-left: 1ex;
    }
  }

  &:not(.right) {
    & button,
    & input {
      margin-right: 1ex;
    }
  }
}

button.primary,
button.secondary,
input.primary,
input.secondary,
a.button {
  background-color: $blue-700;
  border-radius: 2px;
  border: 1px solid $blue-700;
  display: inline-block;
  cursor: pointer;
  color: $primary-text-light;
  fill: $icon-light;
  font-weight: 600;
  font-size: 0.9em;
  line-height: 1.4;
  padding: 0.5em 3ex;
  transition: 0.1s background-color;

  &.inline {
    font-size: 0.85em;
    padding: 4px 6px;
  }
}
button.secondary,
input.secondary,
a.button.secondary {
  background-color: $grey-50;
  border-color: $grey-300;
  color: $secondary-text-dark;
  fill: $icon-dark;
}
button.primary:not(:disabled):hover,
button.primary:not(:disabled):focus,
input.primary:not(:disabled):hover,
input.primary:not(:disabled):focus,
a.button.primary:not(:disabled):hover,
a.button.primary:not(:disabled):focus {
  background-color: $blue-300;
}
button.secondary:not(:disabled):hover,
button.secondary:not(:disabled):focus,
input.secondary:not(:disabled):hover,
input.secondary:not(:disabled):focus,
a.button.secondary:not(:disabled):hover,
a.button.secondary:not(:disabled):focus {
  background-color: $grey-300;
}
button.primary:not(:disabled):active,
button.secondary:not(:disabled):active,
input.primary:not(:disabled):active,
input.secondary:not(:disabled):active,
a.button:not(:disabled):active {
  position: relative;
  top: 1px;
}
button.primary:disabled,
button.secondary:disabled,
input.primary:disabled,
input.secondary:disabled,
a.button.primary:disabled,
a.button.secondary:disabled {
  cursor: default;
  opacity: 0.5;
}


@media (max-width: $tablet) {
  html, body {
    font-size: 14px;
  }
}


.icon-button {
  @include icon-button($blue-300, $blue-700);

  display: inline-block;
  vertical-align: middle;
}

.card {
  text-align: left;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px $divider-dark;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 3px;
  position: relative;
  fill: $icon-dark;

  & .close {
    @include icon-button($red-700, $red-300);
    float: right;
  }

  &.dark {
    color: $primary-text-light;
    fill: $icon-light;
  }

  &.light-green {
    background: $light-green-500;
  }

  &.blue {
    background: $blue-500;
  }

  &.yellow {
    background: $yellow-300;
  }

  &.orange {
    background: $orange-500;
  }

  &:target {
    animation: card-highlight 0.7s ease;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
  }
}

@keyframes card-highlight {
  0% {
    background-color: $blue-100;
  }
  100% {
    background-color: #fff;
  }
}

.list {
  padding: 0;

  &.with-title {
    padding-bottom: 0.5rem;
  }

  li {
    list-style: none;
  }

  a:not(.big-button) {
    padding: 0.5rem 1rem;
  }

  a.big-button {
    margin: 1rem 0 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  a,
  a .hint {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  & > h2 {
    padding: 1rem 1rem 0;
  }

  .name {
    margin-right: auto;
  }

  .icon {
    width: 32px;
    height: 32px;
    vertical-align: middle;

    &.left {
      margin-right: 1em;
    }
    &.right {
      margin-left: 1em;
    }
  }
}

a.card, .link, .list a {
  transition: background-color .2s, fill .2s;
  text-decoration: none;
  color: $primary-text-dark;
  display: block;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $grey-100;
    fill: $primary-text-dark;
    outline: none;

    &.dark {
      fill: $primary-text-light;
    }

    &.light-green {
      background-color: $light-green-600;
    }

    &.blue {
      background-color: $blue-600;
    }

    &.orange {
      background-color: $orange-600;
    }
  }

  &:active {
    background-color: $grey-200;

    &.light-green {
      background-color: $light-green-700;
    }

    &.blue {
      background-color: $blue-700;
    }

    &.orange {
      background-color: $orange-700;
    }
  }
}

.card-category,
.list > .big-button {
  padding-left: 5rem;
  min-height: 5rem;

  & > .icon {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 3rem;
    height: 3rem;
  }

  & > h2 {
    line-height: 3rem;
  }
}

.list > .big-button > h2 {
  font-size: 1.2rem;
}

.help-wanted {
  position: relative;
  margin: 1ex 0;
  padding: 0.4em 0.5em 0.4em calc(1.4em + 2*0.5em);
  background: $yellow-300;
  border-radius: 2px;
  min-height: 32px;

  .icon {
    margin-left: calc(-1.4em - 0.5em);
    margin-right: 0.5em;
  }
}

/* display mode cards in a 2-col layout */
@media (min-width: $tablet) {
  .fixture-mode {
    width: calc(50% - .5rem);

    &:nth-child(odd) {
      margin-right: .5rem;
      float: left;
      clear: left;
    }
    &:nth-child(even) {
      margin-left: .5rem;
      float: right;
      clear: right;
    }
  }
}

@media (max-width: $phone) {
  .list > li > a > .icon {
    width: 24px;
    height: 24px;

    &.left {
      margin-right: .6em;
    }
    &.right {
      margin-left: .6em;
    }
  }
}

@media (min-width: $phone-landscape) {
  .grid > .card {
    display: inline-block;
    width: calc(50% - 0.5rem);
    vertical-align: top;

    & > h2 {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &:nth-child(2n+1) {
      margin-right: 0.5rem;
    }
    &:nth-child(2n) {
      margin-left: 0.5rem;
    }
  }
}

@media (min-width: $tablet) {
  .grid > .card {
    width: calc(33.3% - 2rem / 3);

    &:nth-child(3n+1) {
      margin-left: 0;
      margin-right: 0;
    }
    &:nth-child(3n+2),
    &:nth-child(3n) {
      margin-left: 1rem;
      margin-right: 0;
    }
  }
}
