@import './fonts.scss';

@each $theme-name, $theme in $themes {
  [data-theme="#{$theme-name}"] {
    @each $color-name, $color in $theme {
      --theme-#{$color-name}: #{colorToRgbString($color)};
    }
  }
}


html, body {
  margin: 0;
  padding: 0;
  font: 12pt/2 LatoLatin, 'Source Sans Pro', Helvetica, Arial, sans-serif;
  color: $primary-text-dark;
  background: $grey-200;
  word-wrap: break-word;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

html {
  overflow-y: scroll;
}

/* IE9 / IE10 does not do this automatically */
[hidden] {
  display: none;
}

h1 {
  font-weight: 300;
  font-size: 2rem;
  line-height: 2.5rem;
  margin: 1.5rem 0 1.5rem;
}

h2 {
  font-weight: 400;
  margin: 0;
  font-size: 1.5rem;
}

h3 {
  font-weight: 800;
  font-size: 1.2rem;
  margin: 1rem 0 0;
}

h4 {
  font-weight: 800;
  font-size: 1rem;
  margin: 0.8rem 0 0;
}

p {
  margin: 1rem 0;
}

section {
  padding-top: 1.2ex;
}

.centered {
  text-align: center;
}

.clearfix {
  clear: both;
}

label {
  max-width: 100%;
}

.hint {
  display: block;
  color: $secondary-text-dark;
  font-size: 0.8rem;
  line-height: 1.5;
}

template {
  display: none !important;
}

#ofl-root.js .no-js {
  display: none;
}
#ofl-root.no-js .only-js {
  display: none;
}

code {
  font-family: Inconsolata, 'Roboto Mono', 'Source Code Pro', monospace;
  color: $secondary-text-dark;
}

h1 code,
h2 code,
h3 code,
code.channel-key {
  margin: 0 1ex;
}

a {
  text-decoration: none;
  color: $blue-700;
  fill: $icon-dark;
  transition: color 0.1s, fill 0.1s, background-color 0.1s;

  &:hover,
  &:focus {
    color: $blue-300;
    fill: $icon-dark-hover;
  }
}

select,
textarea,
input[type=text],
input[type=email],
input[type=search],
input[type=url],
input[type=number] {
  box-sizing: border-box;
  max-width: 100%;
  padding: 0.4em;
  background: #fff;
  border: 1px solid #cfd6e6;
  border-radius: 3px;
  font-size: 0.95em;
  font-family: LatoLatin;
  transition: border-color 0.2s;

  &:focus {
    border-color: $blue-300;
  }

  &.vf-touched.vf-invalid,
  &.vf-submitted.vf-invalid,
  &.vf-touched[class^=vf-invalid-],
  .vf-touched.vf-invalid &,
  .vf-submitted.vf-invalid &,
  .vf-touched[class^=vf-invalid-] & {
    border-color: red;
    box-shadow: 0 0 4px rgba(255, 0, 0, 0.4);
  }

  &:disabled {
    background: $grey-100;
    opacity: 0.9;
  }
}

textarea[readonly] {
  line-height: 1.3;
  font-size: 0.9em;
  font-family: Inconsolata, monospace;
  white-space: pre-wrap;
  background: $grey-100;
  color: $primary-text-dark;
  padding: 1em;
  border: none;
  width: 100%;
  height: 15em;
  overflow: auto;
  resize: none;
}

.error-message {
  display: block;
  color: red;

  & div::before {
    content: '!';
    display: inline-block;
    height: 1em;
    line-height: 1em;
    width: 1em;
    margin: -2px 1ex 0 0;
    text-align: center;
    background: red;
    border-radius: 9999px;
    color: white;
    font-weight: 600;
    vertical-align: middle;
  }
}

textarea {
  min-height: 4em;
  resize: vertical;
}

select {
  width: 30ex;
}
input[type=number] {
  width: 10ex;
}
textarea,
input[type=text],
input[type=email],
input[type=search],
input[type=url] {
  width: 40ex;
}

input.addition {
  margin-left: 1ex;
}

select.empty {
  color: $secondary-text-dark;
  font-style: italic;

  & > option {
    color: $primary-text-dark;
    font-style: normal;
  }
}

input::-webkit-input-placeholder {
  color: $secondary-text-dark;
  font-style: italic;
}
input::-moz-placeholder {
  color: $secondary-text-dark;
  font-style: italic;
  opacity: 1;
}
input:-ms-input-placeholder {
  color: $secondary-text-dark;
  font-style: italic;
}
input::placeholder {
  color: $secondary-text-dark;
  font-style: italic;
  opacity: 1;
}

.button-bar {
  margin: 2ex 0 0;

  &.right {
    text-align: right;

    & button,
    & .button {
      margin-right: 0;
      margin-left: 1ex;
    }
  }

  & button,
  & .button {
    margin-top: 1ex;
    margin-right: 1ex;
  }
}

button, input, a.button {
  &.primary, &.secondary {
    border-radius: 2px;
    border: 1px solid;
    display: inline-block;
    cursor: pointer;
    font-weight: 600;
    font-size: 0.9em;
    line-height: 1.4;
    padding: 0.5em 3ex;
    transition: 0.1s background-color;

    &.inline {
      font-size: 0.85em;
      padding: 4px 6px;
    }

    &:not(:disabled):active {
      position: relative;
      top: 1px;
    }

    &:disabled {
      cursor: default;
      opacity: 0.5;
    }
  }

  &.primary {
    background-color: $blue-700;
    border-color: $blue-700;
    color: $primary-text-light;
    fill: $icon-light;

    &:not(:disabled):hover,
    &:not(:disabled):focus {
      background-color: $blue-300;
    }
  }

  &.secondary {
    background-color: $grey-50;
    border-color: $grey-300;
    color: $secondary-text-dark;
    fill: $icon-dark;

    &:not(:disabled):hover,
    &:not(:disabled):focus {
      background-color: $grey-300;
    }
  }
}


@media (max-width: $tablet) {
  html, body {
    font-size: 14px;
  }
}


.icon-button {
  $icon-size: 1.4em;
  $padding: 0.3em;

  display: inline-block;
  position: relative;
  padding: 0 0 0 calc(#{$icon-size} + #{2*$padding});
  width: 0;
  height: calc(#{$icon-size} + #{2*$padding});
  overflow: hidden;
  border: 1px solid;
  border-radius: 3px;
  cursor: pointer;
  vertical-align: middle;
  color: theme-color(icon);

  &::-moz-focus-inner {
    border: 0;
  }

  & > .icon {
    display: block;
    position: absolute;
    width: $icon-size;
    height: $icon-size;
    top: $padding;
    left: $padding;
    fill: currentcolor;
  }

  &:not(.close) {
    background-color: theme-color(button-primary-text, 0);
    border-color: theme-color(button-primary-text, 0);

    @include mobile-hover-emulation((
      background-color: rgba($hover-color, 0) $hover-color,
      border-color: rgba($hover-color, 0) rgba($hover-color, 0)
    ));

    &:focus {
      border-color: $blue-300;
      outline: none;
    }

    &:active {
      background-color: $blue-700;
      border-color: rgba($blue-300, 0);
      color: $primary-text-light;
    }
  }

  &.close {
    background-color: rgba($red-700, 0);
    border-color: rgba($red-700, 0);

    &:hover {
      background-color: $red-700;
      color: $primary-text-light;
    }

    &:focus {
      border-color: $red-700;
      outline: none;
    }

    &:active {
      background-color: $red-300;
      border-color: rgba($red-700, 0);
      color: $primary-text-light;
    }
  }
}

.card {
  $card-spacing: 1rem;

  text-align: left;
  padding: 1rem;
  margin-bottom: $card-spacing;
  box-shadow: 0 2px 4px $divider-dark;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 3px;
  position: relative;
  fill: $icon-dark;

  & .icon-button.close {
    float: right;
  }

  & a.big-button {
    margin: 1rem -1rem -1rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  &.dark {
    color: $primary-text-light;
    fill: $icon-light;
  }

  &.light-green {
    background: $light-green-500;
  }

  &.blue {
    background: $blue-500;
  }

  &.yellow {
    background: $yellow-300;
  }

  &.orange {
    background: $orange-500;
  }

  &:target {
    animation-delay: 0.5s;
    animation-duration: 0.7s;
    animation-fill-mode: backwards;
    animation-timing-function: ease;

    @include animation-keyframes {
      from {
        background-color: $blue-100;
      }
      to {
        background-color: #fff;
      }
    }
  }

  .grid-3 > & {
    @media (min-width: $phone-landscape) {
      display: inline-block;
      width: calc((100% - #{$card-spacing}) / 2);
      vertical-align: top;

      & > h2,
      & > .name {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      &:nth-child(2n) {
        margin-left: $card-spacing;
      }
    }

    @media (min-width: $tablet) {
      width: calc((100% - 2 * #{$card-spacing}) / 3);

      &:nth-child(3n+1) {
        margin-left: 0;
      }
      &:nth-child(3n+2),
      &:nth-child(3n) {
        margin-left: $card-spacing;
      }
    }
  }

  .grid-4 > & {
    @media (min-width: 440px) {
      display: inline-block;
      width: calc((100% - #{$card-spacing}) / 2);
      vertical-align: top;

      & > h2,
      & > .name {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      &:nth-child(2n) {
        margin-left: $card-spacing;
      }
    }

    @media (min-width: 650px) {
      width: calc((100% - 2 * #{$card-spacing}) / 3);

      &:nth-child(3n+1) {
        margin-left: 0;
      }
      &:nth-child(3n+2),
      &:nth-child(3n) {
        margin-left: $card-spacing;
      }
    }

    @media (min-width: 920px) {
      width: calc((100% - 3 * #{$card-spacing}) / 4);

      &:nth-child(4n+1) {
        margin-left: 0;
      }
      &:nth-child(4n+2),
      &:nth-child(4n+3),
      &:nth-child(4n) {
        margin-left: $card-spacing;
      }
    }
  }
}

.manufacturer-color {
  border-left: 0.6rem solid transparent;
}

.list {
  padding: 0;
  margin: 0 -1rem;

  &:only-child {
    margin: -1rem;

    & li:first-child a {
      margin-top: 0;

      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }

    & li:last-child a {
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }

  & > li {
    list-style: none;
  }

  & > h2 {
    padding: 1rem 1rem 0;
  }

  .name {
    margin-right: auto;
  }
}

.list a,
a.card.slim {
  margin-top: 1px;
  padding: 0.5rem 1rem;
}

.list,
.card.slim {
  a,
  a .hint {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .icon {
    width: 32px;
    height: 32px;

    &.left {
      margin-right: 1em;
    }
    &.right {
      margin-left: 1em;
    }
  }
}

a.card, .link, .list a {
  transition: background-color .2s, fill .2s;
  text-decoration: none;
  color: $primary-text-dark;
  display: block;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $grey-100;
    fill: $primary-text-dark;
    outline: none;

    &.dark {
      fill: $primary-text-light;
    }

    &.light-green {
      background-color: $light-green-600;
    }

    &.blue {
      background-color: $blue-600;
    }

    &.orange {
      background-color: $orange-600;
    }
  }

  &:active {
    background-color: $grey-200;

    &.light-green {
      background-color: $light-green-700;
    }

    &.blue {
      background-color: $blue-700;
    }

    &.orange {
      background-color: $orange-700;
    }
  }
}

.card-category,
.big-button {
  padding-left: 5rem;
  min-height: 5rem;

  & > .icon {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 3rem;
    height: 3rem;
  }

  & > h2 {
    line-height: 3rem;
  }
}

.big-button > h2 {
  font-size: 1.2rem;
}

/* display mode cards in a 2-col layout */
@media (min-width: $tablet) {
  .fixture-mode {
    width: calc(50% - .5rem);

    &:nth-child(odd) {
      margin-right: .5rem;
      float: left;
      clear: left;
    }
    &:nth-child(even) {
      margin-left: .5rem;
      float: right;
      clear: right;
    }
  }
}

@media (max-width: $phone) {
  .list > li > a > .icon {
    width: 24px;
    height: 24px;

    &.left {
      margin-right: .6em;
    }
    &.right {
      margin-left: .6em;
    }
  }
}
