name: Lighthouse
on:
  pull_request:
    types: [opened, synchronize, reopened, labeled]
concurrency:
  group: lighthouse-review-${{ github.ref }}
  cancel-in-progress: true
jobs:
  review:
    name: Review
    runs-on: ubuntu-latest
    if: contains(github.event.pull_request.labels.*.name, 'component-ui')
    env:
      NODE_ENV: production
      ALLOW_SEARCH_INDEXING: allowed
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Setup Node.js v20
        uses: actions/setup-node@v4.2.0
        with:
          node-version: 20
          cache: 'npm'
      - name: Install dependencies
        run: npm ci --include=dev
      - name: Build
        run: npm run build
      - name: Run the Lighthouse CI
        uses: treosh/lighthouse-ci-action@12.1.0
        with:
          urls: |
            http://localhost:3000/
            http://localhost:3000/chroma-q/color-force-ii-72
            http://localhost:3000/categories/Color%20Changer
          runs: 1
          configPath: '.github/lighthouserc.json'
          uploadArtifacts: true
          temporaryPublicStorage: true
        env:
          LHCI_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_PR_NUMBER: ${{ github.event.number }}
